tr[onclick] {
  cursor: pointer;
}

input.search, a.button.search {
  margin-left: 20px;
}

.pagination{
  margin: 40px 0 0 0;
}
 
  .pagination li{
    display: inline;
  }

    .pagination li a{
      border: 1px solid #eaeaea;
      border-radius: 5px;
      padding: 3px 8px;
      text-decoration: none;
      color: #4ba6c3;
    }

    .pagination li a.active,
    .pagination li a:hover{
      background-color: #4ba6c3;
      color: #fff;
    }